.profile{
    position: absolute;
    height: 15%;
    width: 100%;
    max-width: 250px;
    background-color: #f3f3f3;
    right: .5rem;
    float: right;
    border: 1px solid #ddd;
    bottom: 0;
    top: 5.5rem;
}
.sidebar_container{
    padding: .5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.sidebar_container a{
    cursor: pointer;
}
.sidebar_container .logout_btn{
    padding: .5rem 1rem;
    border-color: #ddd;
    outline: none;
    border: 1px solid #ddd;
    background-color: blueviolet;
    color: #fff;
}

