.dashboard_page{
    position: relative;
    height: 100%;
    margin: 2rem auto;
    width: 100%;
}
.dashboard_content{
    position: relative;
}
.dashboard_cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem
}
.card{
    background: linear-gradient(to right, #c800ff,#555);
    padding: 1rem;
    color: #fff;
    cursor: pointer;
    border: 1px solid #c800ff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: .2s ease-in-out;
}
.card:hover{
    background: linear-gradient(to left, #c800ff,#555);
    color: #555;
}
.card h2{
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.card p{
    color: #fff;
}